@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
.App {
  text-align: center;
}
.MainText{
  height:500px;
  width:500px;
}
.extra{
  margin-top:20px;
}
.he{
  font-size:60px;
  font-family:'Rametto One', cursive;
  margin-top:10px;
}